@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700;800&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body,
html {
  font-family: Roboto;
}

.container {
  max-width: 1920px;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header.fix {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 100;
  height: 180px;
  width: 100%;
  position: absolute;
  top: -100%;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 130px 1fr;
      grid-template: 1fr / 130px 1fr;
  height: 100%;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  margin: 6px 0 0 0;
}

.header__logo a {
  display: block;
  height: 100%;
}

.header__logo img {
  max-width: 120px;
}

.burger {
  display: none;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  max-width: 100%;
}

.menu__link {
  font-family: Overpass;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #111111;
  margin: 0 12px;
}

.menu__link:active {
  color: #391642;
}

.menu__button {
  margin: 0 20px 0 0;
}

.menu__button:active {
  color: #391642;
}

.socs {
  margin: 0 10px 0 0;
}

.socs .fab {
  margin: 0 8px 0 0;
  font-size: 21px;
  font-weight: 400;
}

.socs .fab:active {
  color: #391642;
}

.socs .fa-facebook-f {
  color: #1da1f2;
}

.socs .fa-twitter {
  color: #3b5998;
}

.socs .fa-youtube {
  color: #ff1e00;
}

.socs .fa-instagram {
  color: #dd4b39;
}

@media (min-width: 768.8px) {
  .menu__link:hover {
    color: #c04ae2;
  }
  .menu__link:active {
    color: #391642;
  }
  .menu__socs .fab:hover {
    color: #c04ae2;
  }
  .menu__socs .fab:active {
    color: #391642;
  }
}

.button-1 {
  display: block;
  width: 181px;
  height: 48px;
  background-color: rgba(192, 74, 226, 0);
  border: 2px solid #c04ae2;
  border-radius: 7px;
  text-align: center;
  padding: 15px 0 0 0;
  font-family: Overpass;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
}

.button-1:active {
  color: #5f1b70;
}

@media (min-width: 768.7px) {
  .button-1:hover {
    color: #c04ae2;
  }
  .button-1:active {
    color: #5f1b70;
  }
}

@media (max-width: 840px) {
  .header {
    background-color: #ebeaf9;
    z-index: 100;
    height: 50px;
  }
  .header.active {
    background-color: #ebeaf9;
    top: 0;
    left: 0;
    position: fixed;
  }
  .menu {
    z-index: 99;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200%;
  }
  .menu__body {
    background-color: #c14ae296;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    min-height: 100%;
    margin: 50px 0 0 0;
    padding: 10px 0 50px 0;
    overflow: auto;
  }
  .menu__links {
    display: inline-block;
    width: 90%;
    text-align: center;
  }
  .menu__link {
    border-radius: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    color: #c14ae2;
    display: block;
    background-color: #fff;
    font-size: 30px;
    width: 100%;
    height: 40px;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
  }
  .menu.active {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    right: 0;
  }
  .button {
    padding: 15px 0 15px 0;
    margin: 0 0 15px 0;
    color: #c14ae2;
    display: block;
    background-color: #fff;
  }
  .menu__socs {
    margin: 0 0 15px 0;
  }
  .menu__socs .fab {
    display: inline-block;
    font-size: 32px;
    color: #fff;
  }
  .burger {
    z-index: 100;
    margin: 2px 0 0 0;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #c04ae2;
    text-align: center;
    border-radius: 50%;
  }
  .burger span {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 21px 0 0 0;
  }
  .burger::before, .burger::after {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    right: 7px;
  }
  .burger::before {
    top: 13px;
  }
  .burger::after {
    bottom: 13px;
  }
  .burger.active {
    z-index: 100;
    background-color: #fff;
  }
  .burger.active span {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
  }
  .burger.active::before, .burger.active::after {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background-color: #cd33f8;
  }
  .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 21px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 21px;
  }
}

@media (max-width: 550.5px) {
  body.active {
    overflow: hidden;
  }
}

.hero {
  position: relative;
  min-height: 1080px;
  padding: 260px 0 260px 0;
  background: url(../img/blur.png) center/100% 100% no-repeat, url(../img/bg_header2.png) center, url(../img/bg_header.png);
}

.hero__container2 {
  max-width: 1210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  z-index: 1;
}

.hero__container {
  margin: 0 20px 0 0;
  position: absolute;
  width: 100%;
  top: 260px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.hero__empty {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero__img img {
  width: 100%;
  height: 100%;
}

.content-hero {
  margin: 0 0 0 20px;
}

.content-hero__img {
  position: relative;
  width: 0;
}

.content-hero__img img {
  height: 100%;
  width: 100%;
}

.content-hero__title {
  font-family: Overpass;
  font-size: 90px;
  line-height: 108px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  margin: 0 0 15px 0;
}

.content-hero__text {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  margin: 0 0 50px 0;
}

.content-hero__text span {
  line-height: 42px;
}

.content-hero__button {
  font-size: 24px;
  font-weight: 800;
  padding: 24px 0 0 0;
  letter-spacing: -0.025em;
}

.button-2 {
  display: block;
  font-family: Overpass;
  padding: 25px 10px;
  color: #ffffff;
  max-width: 241px;
  min-height: 72px;
  background-color: #c04ae2;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  text-align: center;
}

.button-2:active {
  background: #9909a7;
}

@media (min-width: 768px) {
  .button-2:hover {
    background: #ac0abb;
  }
  .button-2:active {
    background: #9909a7;
  }
}

@media (max-width: 1150px) {
  .hero__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    margin: 0 auto;
  }
  .hero .content-hero__img {
    margin: 20px 0 0 0;
    width: 100%;
  }
  .hero__container {
    display: none;
  }
}

@media (max-width: 610px) {
  .hero .content-hero__title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 376px) {
  .hero {
    padding: 80px 0px 50px;
    min-height: 0;
  }
}

.block-title__less {
  font-family: Overpass;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #c04ae2;
  margin: 0 0 24px 0;
}

.block-title__bigger {
  font-family: Overpass;
  font-size: 60px;
  text-transform: none;
  letter-spacing: -0.025em;
  line-height: 90px;
  color: #111111;
  font-weight: 800;
}

.block-title__bigger span {
  line-height: 1;
}

.intro {
  background: url(../img/intro-bg.png) center center/100% auto no-repeat;
  padding: 0 20px;
  overflow: hidden;
}

.intro__container {
  padding: 190px 15px 30px;
}

.intro__title {
  max-width: 750px;
  margin: 0 auto 125px;
  text-align: center;
}

.intro__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.intro__item {
  min-height: 496px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin: 0 8px;
  padding: 70px 40px;
  text-align: center;
}

.intro__item:nth-child(1) {
  border: 6px solid #fcd7df;
}

.intro__item:nth-child(2) {
  border: 6px solid #c9f3e2;
}

.intro__item:nth-child(3) {
  border: 6px solid #f2d5ba;
}

.item-intro__icon {
  width: 75px;
  height: 84px;
  margin: 0 auto;
}

.item-intro__title {
  font-family: Overpass;
  font-size: 30px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 30px 0 20px 0;
}

.item-intro__text {
  font-family: Roboto;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: normal;
  color: #5e5858;
}

.item-intro-1 {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.item-intro-3 {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
}

.slider {
  position: relative;
  padding: 0;
  margin-bottom: 30px;
  /*.slick-center {opacity: 1;}*/
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .slick-slide {
  max-height: 100%;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.slider .slick-slide:nth-child(2) {
  border: 6px solid #fcd7df;
}

.slider .slick-slide:nth-child(3) {
  border: 6px solid #c9f3e2;
}

.slider .slick-slide:nth-child(4) {
  border: 6px solid #f2d5ba;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background-color: #c04ae2;
  width: 28px;
  height: 3px;
}

.slider .slick-dots button {
  width: 25px;
  height: 2px;
  background-color: #ebeaf9;
  border-radius: 20%;
  font-size: 0px;
}

.slick-list {
  overflow: hidden;
}

@media (max-width: 426px) {
  .block-title {
    margin-bottom: 30px;
  }
  .block-title__bigger {
    font-size: 42px;
    line-height: 1.3;
  }
}

.about {
  min-height: 840px;
  overflow: hidden;
}

.about__container {
  background: url(../img/about-items/about_item1.png) right top/40px 40px no-repeat, url(../img/about-items/about_blur.png) center 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 175px 10px;
  height: 100%;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 475px;
}

.about__images {
  margin: 0 0 0 100px;
}

.content-about__title {
  font-family: Overpass;
  font-size: 60px;
  line-height: 72px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #222222;
  margin: 0 0 8px 0;
}

.content-about__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  margin: 0 0 48px 0;
}

.content-about__text span {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
}

.content-about__button {
  margin: 0 0 40px 0;
}

.content-about__button span {
  font-family: Overpass;
  font-size: 18px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.images-about__item {
  position: relative;
  max-width: 730px;
}

.images-about__item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.images-about__item2 {
  position: absolute;
  -webkit-transform: translate(180px, -80px);
          transform: translate(180px, -80px);
}

@media (max-width: 1525px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    justify-items: center;
  }
  .about__content {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .about__images {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .images-about__item2 {
    display: none;
  }
  .content-about__text {
    font-size: 30px;
  }
  .content-about__text span {
    font-size: 28px;
  }
}

@media (max-width: 426px) {
  .content-about__title {
    font-size: 36px;
    line-height: 50px;
  }
}

.services {
  min-height: 1670px;
  background: url(../img/services-images/objects_services.png) center/1920px 100% no-repeat, url(../img/services-images/blur-sevises.png) center/1920px 100% no-repeat, url(../img/services-images/bg_services.png) center/cover no-repeat;
}

.services__top {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr, repeat(2, 50%);
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0 0 120px 0;
}

.services__title {
  text-align: right;
  max-width: 725px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.services__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[14];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(14, 1fr)/repeat(3, 1fr);
}

.services__item {
  max-width: 370px;
  min-height: 476px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
          box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
  border-radius: 25px;
  padding: 70px 40px;
  text-align: center;
  margin: 0 5px 30px;
}

.grid-block {
  grid-row: span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-block__icon {
  margin: 0 0 45px 0;
}

.grid-block__title {
  font-family: Overpass;
  font-size: 30px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  margin: 0 0 30px 0;
}

.grid-block__text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  margin: 0 0 60px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.grid-block__button span {
  display: inline-block;
  width: 42px;
  height: 4px;
  background-color: #c04ae2;
  border-radius: 2px;
}

.grid-block__button span::before, .grid-block__button span::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  background-color: #c04ae2;
  border-radius: 2px;
}

.grid-block__button span::before {
  -webkit-transform: translate(28px, -5px) rotate(45deg);
          transform: translate(28px, -5px) rotate(45deg);
}

.grid-block__button span::after {
  -webkit-transform: translate(28px, 1px) rotate(-45deg);
          transform: translate(28px, 1px) rotate(-45deg);
}

.grid-block__button:active span,
.grid-block__button:active span::before,
.grid-block__button:active span::after {
  background-color: #9b0593;
}

.grid-block:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2 / span 6;
}

.grid-block:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / span 6;
}

@media (min-width: 768px) {
  .grid-block__button:hover span,
  .grid-block__button:hover span::before,
  .grid-block__button:hover span::after {
    background-color: #a206b1;
  }
  .grid-block__button:active span,
  .grid-block__button:active span::before,
  .grid-block__button:active span::after {
    background-color: #9b0593;
  }
}

@media screen and (max-width: 768px) {
  .services {
    padding: 0 0 50px 0;
    min-height: auto;
  }
  .services__body {
    display: block;
  }
  .services__item {
    max-width: 100%;
  }
  .slider-2 {
    position: relative;
    padding: 0 20px;
    max-width: 100%;
    margin-bottom: 30px;
    /*.slick-center {opacity: 1;}*/
  }
  .slider-2 .slick-list {
    overflow: hidden;
  }
  .slider-2 .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider-2 .slick-slide {
    margin: 0 5px;
  }
}

.portfolio {
  min-height: 2400px;
  background: url(../img/portfolio-images/portfolio_objects.png) center top/1920px 100% no-repeat, url(../img/portfolio-images/portfolio_blur.png) 0 0/100% no-repeat, url(../img/portfolio-images/portfolio_bg.png) top center/cover no-repeat, linear-gradient(-40deg, #dfe9f3 1%, #ffffff 98%);
  background-color: #f2f4fb;
}

.portfolio__container {
  padding: 200px 10px 200px;
}

.portfolio__title {
  max-width: 750px;
  margin: 0 auto 120px;
  text-align: center;
}

.portfolio__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link-bottom {
  display: block;
  text-align: center;
  font-family: Overpass;
  font-size: 18px;
  line-height: 36px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 5px 0 0 0;
}

.link-bottom:active {
  color: #7c2196;
}

.link-bottom span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-bottom span::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #c04ae2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.link-bottom span:active::before {
  background-color: #111;
  width: 100%;
}

@media (min-width: 768px) {
  .link-bottom {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .link-bottom:hover {
    color: #c04ae2;
  }
  .link-bottom:active {
    color: #7c2196;
  }
  .link-bottom span:hover::before {
    width: 0%;
  }
  .link-bottom span:active::before {
    background-color: #111;
    width: 100%;
  }
}

.portfolio-items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 480px;
}

.portfolio-item {
  padding: 0 0 5% 0;
  margin: 0 0 80px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio-item:nth-child(even) .image-block__img {
  top: 0;
  right: 0;
}

.portfolio-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.portfolio-item__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 420px;
  max-width: 420px;
  position: relative;
}

.image-block__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 420px;
  max-height: 420px;
  border-radius: 18px;
  position: relative;
  z-index: 2;
}

.image-block__img img {
  position: absolute;
  border-radius: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.item-content__subtitle {
  font-family: Overpass;
  font-size: 24px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.item-content__title {
  font-family: Overpass;
  font-size: 42px;
  line-height: 54px;
  color: #111111;
  margin: 0 0 20px 0;
}

.item-content__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  margin: 0 0 30px 0;
}

.subtitle1 {
  color: #fe6686;
}

.subtitle2 {
  color: #54d6a1;
}

.subtitle3 {
  color: #fe9a3f;
}

@media (max-width: 872px) {
  .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-item__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio-item__image img {
    position: static;
  }
}

.team {
  min-height: 1150px;
  padding: 200px 20px 120px;
  background: url(../img/team/team-styleElements.png) center 70%/1920px 100% no-repeat, url(../img/team/teamBlur.png) center center/100% 100% no-repeat;
}

.team__title {
  text-align: center;
  margin: 0 auto;
  max-width: 740px;
}

.members {
  padding: 150px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.members__item {
  min-height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.members__item:nth-child(even) {
  margin: 75px 0 0 0;
}

.members__item:nth-child(1) .members__photo img, .members__item:nth-child(2) .members__photo img {
  -o-object-position: center;
     object-position: center;
  border-radius: 18px;
}

.members__item:nth-child(3) .members__photo img {
  -o-object-position: -30px;
     object-position: -30px;
}

.members__item:nth-child(4) .members__photo img {
  -o-object-position: left;
     object-position: left;
}

.members__item:nth-child(2) img, .members__item:nth-child(4) img {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: perspective(550px) rotateX(10deg);
          transform: perspective(550px) rotateX(10deg);
  border-radius: 18px;
}

.members__item:nth-child(1) img, .members__item:nth-child(3) img {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: perspective(550px) rotateX(10deg);
          transform: perspective(550px) rotateX(10deg);
  border-radius: 18px;
}

.members__photo {
  max-width: 250px;
  max-height: 312px;
  border-radius: 15px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

.members__photo img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.members__name {
  font-family: Overpass;
  font-size: 24px;
  line-height: 48px;
  font-weight: 800;
  color: #111111;
  margin: 35px 0 0 0;
}

.members__skills {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #adb0ba;
}

@media (max-width: 1100px) {
  .members {
    -ms-grid-columns: minmax(10px, 1fr) (1fr)[4] minmax(10px, 1fr);
        grid-template-columns: minmax(10px, 1fr) repeat(4, 1fr) minmax(10px, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .members__item:nth-child(1), .members__item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  .members__item:nth-child(3), .members__item:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .members__item:nth-child(2), .members__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
  }
}

@media (max-width: 800px) {
  .members__item:nth-child(1), .members__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
  }
  .members__item:nth-child(3), .members__item:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / span 3;
  }
}

@media (max-width: 530px) {
  .members {
    display: block;
  }
  .members__item {
    display: block;
    max-width: 200px;
    margin: 0 auto;
  }
  .members__photo {
    padding: 0 0 300px 0;
  }
  .members__item:nth-child(even) {
    margin: 0 auto;
  }
}

.testimotionals {
  background: url(../img/testimotionals/testimotionals_style_elememts.png) center center/1920px 100% no-repeat, url(../img/testimotionals/bg.png) center top/cover, -webkit-gradient(linear, left bottom, left top, from(#eef1f7), color-stop(25%, #f9fcff));
  background: url(../img/testimotionals/testimotionals_style_elememts.png) center center/1920px 100% no-repeat, url(../img/testimotionals/bg.png) center top/cover, linear-gradient(0deg, #eef1f7 0%, #f9fcff 25%);
  min-height: 900px;
}

.testimotionals__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  position: relative;
  padding: 0px 0 120px;
}

.testimotionals__items {
  margin: 245px 0 0 0;
}

.testimotionals__items::before {
  content: "";
  display: block;
  width: 80px;
  height: 64px;
  background: url(../img/testimotionals/before.png);
  position: absolute;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.testimotionals__image {
  margin: 50px 20px 0 0px;
  position: relative;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  display: block;
  max-width: 470px;
  height: 604px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: perspective(400px) rotateY(-7deg);
          transform: perspective(400px) rotateY(-7deg);
  border-radius: 21px;
}

.testimotionals__image img {
  border-radius: 21px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: perspective(400px) rotateY(7deg);
          transform: perspective(400px) rotateY(7deg);
}

.slider-3 {
  position: relative;
  padding: 0 15px;
  max-width: 100%;
}

.slider-3 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-3 .slick-slide {
  max-width: 100%;
}

.slider-3 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -50px;
  left: 40px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 50px 0 0 0;
}

.slider-3 .slick-dots li.slick-active button {
  width: 30px;
}

.slider-3 .slick-dots button {
  border-radius: 10px;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #c04ae2;
  margin: 0 4px;
  font-size: 0;
}

.slider-3__item {
  max-width: 560px;
}

.slider-3__text {
  line-height: 36px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #5e5858;
  font-size: 24px;
  margin: 40px 0;
}

.slider-3__author {
  margin: 0 0 0 50px;
  font-family: Overpass;
  font-size: 24px;
  line-height: 48px;
  font-weight: 800;
  color: #111111;
}

.slider-3__author::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333;
  -webkit-transform: translate(-200%, 23px);
          transform: translate(-200%, 23px);
}

.slider-3__author span {
  font-family: Roboto;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  color: #adb0ba;
  margin: 0 0 0 10px;
}

@media (max-width: 768.8px) {
  .testimotionals__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .testimotionals__image {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .testimotionals__items {
    margin: 50px 0 0 0;
  }
}

.contact {
  padding: 190px 25px 100px;
  min-height: 1420px;
  background: url(../img/contact/contact_style_elements.png) center center/1920px 100% no-repeat, url(../img/contact/contact_blur.png) center center/1180px 100% no-repeat;
}

.body-contact__title {
  max-width: 715px;
  text-align: center;
  margin: 0 auto 80px;
}

.body-contact__title .block-title__bigger {
  line-height: 70px;
}

.block-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.input-form {
  max-width: 470px;
  height: 72px;
  background-color: #ffffff;
  -webkit-box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #999999;
  display: block;
  margin: 0 0 30px 0;
  padding-left: 40px;
  padding-right: 40px;
}

.form-contact {
  padding: 0 20px 0 0;
}

.form-contact__title {
  font-family: Overpass;
  font-size: 42px;
  line-height: 54px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
}

.form-contact__name {
  margin-top: 60px;
  width: 100%;
}

.form-contact__email {
  width: 100%;
}

.form-contact__subject {
  width: 100%;
}

.form-contact__message {
  resize: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 212px;
  -webkit-box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
}

.form-contact__button span {
  font-family: Overpass;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #ffffff;
}

.callback-contact {
  padding: 110px 0 0 100px;
}

.callback-contact__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #5e5858;
  margin-bottom: 50px;
}

.callback-contact__item {
  margin: 0 0 20px 60px;
  position: relative;
}

.callback-contact__item span {
  position: absolute;
  left: -49px;
  top: 16px;
}

.callback-contact__item i {
  color: #fff;
}

.callback-contact__item p {
  font-family: Overpass;
  font-size: 21px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
}

.callback-contact__item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
}

.phone-item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fe6686;
  position: absolute;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
}

.email-item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #54d6a1;
  position: absolute;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
}

.address-item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fe9a3f;
  position: absolute;
  -webkit-transform: translateX(-140%);
          transform: translateX(-140%);
}

@media (max-width: 768.8px) {
  .block-contact {
    display: block;
  }
  .callback-contact {
    padding: 0;
  }
  .input-form {
    max-width: 100%;
  }
  .form-contact__title {
    text-align: center;
  }
  .callback-contact__text {
    padding: 30px 0 0 0;
  }
}

.blog {
  min-height: 1020px;
  background-color: #f3f3f4;
  padding: 0 20px;
  background: url(../img/blog/elements.png) center center/1920px 90% no-repeat, url(../img/blog/blur.png) 0 0/1920px 100% no-repeat, url(../img/blog/bg.jpg) 0 0/cover;
}

.blog__body {
  padding: 210px 0 210px 0;
}

.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-blog__left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.link-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 20px 0;
}

.link-blog__link {
  text-align: right;
  display: inline-block;
}

.content-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 120px 0 0;
}

.content-blog__item {
  max-width: 372px;
  min-height: 398px;
  border: 1px solid #b3bed1;
  border-radius: 18px;
  padding: 50px 25px;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-item__subtitle {
  font-family: Overpass;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.blog-item__title {
  font-family: Overpass;
  font-size: 24px;
  line-height: 36px;
  color: #111111;
  margin: 18px 0 0 0;
}

.blog-item__text {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.blog-item__author {
  margin: 20px 0 0 0;
  font-family: Overpass;
  font-size: 21px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  padding: 0 0 0 60px;
  position: relative;
}

.blog-item__author span {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -10.5px;
}

.blog-item__author::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 18px;
  background: url(../img/blog/likes.png) 0 0/100% no-repeat;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog-item-1 .blog-item__author span {
  background: url(../img/blog/1photo.jpg) 0 0/cover;
}

.blog-item-2 .blog-item__author span {
  background: url(../img/blog/2photo.jpg) 0 0/cover;
}

.blog-item-3 .blog-item__author span {
  background: url(../img/blog/3photo.jpg) 0 0/cover;
}

@media (max-width: 1024px) {
  .blog__content {
    display: block;
  }
  .slider-4 {
    position: relative;
    margin: 0 auto;
    max-width: 96%;
    margin-bottom: 30px;
    /*.slick-center {opacity: 1;}*/
  }
  .slider-4 .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
  }
  .slider-4 .slick-slide {
    margin: 0 10px;
  }
}

@media (max-width: 640px) {
  .top-blog {
    display: block;
  }
}

@media (max-width: 370px) {
  .blog__body {
    padding: 90px 0px;
  }
  .content-blog {
    padding: 30px 0 0 0;
  }
  .blog-author::after {
    right: 10%;
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
}

.footer {
  min-height: 670px;
  padding: 160px 20px 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.top-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 460px) 100px (1fr)[2];
      grid-template: 1fr/minmax(auto, 460px) 100px repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
}

.top-footer__content {
  max-width: 370px;
  -ms-grid-column-align: start;
      justify-self: start;
}

.top-footer__column {
  display: inline-block;
}

.content-footer__text {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #5e5858;
  margin: 25px 0;
}

.content-footer__form {
  max-width: 370px;
  position: relative;
}

.content-footer__form input {
  width: 100%;
  height: 66px;
  background-color: #f3f9fb;
  border-radius: 7px;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.content-footer__form a {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}

.column-footer__title {
  font-family: Overpass;
  font-size: 24px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  margin-top: 10px;
  margin-bottom: 25px;
}

.column-footer__link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-footer__link a {
  color: #5e5858;
}

.column-footer__link i {
  margin-right: 18px;
  margin-top: 5px;
}

.bottom-footer {
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-footer__left {
  font-family: Overpass;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
}

.bottom-footer__right {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}

.bottom-footer__right span {
  font-family: Overpass;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #222222;
}

.menu {
  display: inline-block;
}

.footer-socs {
  display: inline-block;
  margin-left: 30px;
}

@media (max-width: 768.7px) {
  .top-footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .top-footer__content {
    max-width: 100%;
    grid-column: span 3;
  }
  .bottom-footer {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .top-footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .top-footer__content {
    max-width: 100%;
    grid-column: span 2;
  }
  .top-footer .column-footer-3 {
    grid-column: span 2;
  }
}
