@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700;800&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body,
html {
  font-family: Roboto;
}

.wrapper {
  background-color: #fff;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 420px) {
  body.active {
    overflow: hidden;
  }
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
  width: 100%;
}

.hero {
  background: url(../img/bg_header2.png) center 170px/auto 83% no-repeat, url(../img/bg_header.png);
  min-height: 1080px;
  overflow: hidden;
}

.header-bg {
  display: block;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: rgba(235, 234, 250, 0.8);
  z-index: 10;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(136px, 290px) 1fr 180px;
      grid-template: 1fr/minmax(136px, 290px) 1fr 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  z-index: 15;
  position: fixed;
  top: -60px;
}

.header__social-links {
  margin-left: 30px;
}

.header__social-links a {
  margin: 0 6px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 181px 200px;
      grid-template: 1fr / 1fr 181px 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[6];
      grid-template: 1fr/repeat(6, 1fr);
  margin-right: 30px;
}

.menu__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  position: relative;
  font-family: Overpass;
  font-size: 20px;
  line-height: 72px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #111111;
  margin: 0 4px;
}

.menu__item::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  border-radius: 40%;
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  background-color: #c14ae2a8;
  bottom: 20px;
  left: 0px;
}

.menu__item:hover {
  color: #c04ae2;
}

.menu__item:hover::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 100%;
}

.menu__button {
  position: relative;
  width: 181px;
  height: 48px;
  background-color: rgba(192, 74, 226, 0);
  border: 2px solid #c04ae2;
  border-radius: 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__button p {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-family: Overpass;
  font-size: 18px;
  line-height: 72px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
}

.menu__button:hover {
  background-color: rgba(192, 74, 226, 0.6);
  border: 4px solid #c04ae2;
}

.menu__button:active {
  background-color: rgba(192, 74, 226, 0.8);
}

@media (max-width: 930px) {
  .header {
    width: 100%;
    margin-top: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
  }
  .header__burger {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #c04ae2;
    border-radius: 50%;
    position: absolute;
    right: 8px;
  }
  .header__burger span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    height: 4px;
    width: 35px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__burger span::before, .header__burger span::after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    content: "";
    display: block;
    height: 4px;
    width: 35px;
    background-color: #fff;
    position: absolute;
  }
  .header__burger span::before {
    top: 10px;
  }
  .header__burger span::after {
    top: -10px;
  }
  .header__burger.active {
    background-color: #fff;
  }
  .header__burger.active span {
    height: 0;
  }
  .header__burger.active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  .header__burger.active span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  .header__burger.active span::before, .header__burger.active span::after {
    background-color: #c04ae2;
  }
  .wrapper .menu {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: auto;
    background-color: #c14ae2d7;
    width: 320px;
    height: 100%;
    right: -400%;
    top: 0px;
    position: inherit;
    display: block;
  }
  .wrapper .menu__button {
    display: block;
    margin: 30px 0;
  }
  .wrapper .menu__item {
    display: block;
    margin: 4px auto;
    height: 50px;
    font-size: 36px;
    color: #fff;
  }
  .wrapper .menu__item:hover, .wrapper .menu__item:active {
    color: #333;
  }
  .wrapper .menu__items {
    display: block;
  }
  .wrapper .menu .menu__items {
    width: 96%;
    margin: 70px auto 0;
  }
  .wrapper .menu .menu__item {
    height: 100%;
  }
  .wrapper .menu .menu__item:active {
    border: 2px solid #fff;
    background: #fff;
  }
  .wrapper .menu .menu__item::after {
    height: 0px;
    display: none;
  }
  .wrapper .menu .menu__item:hover {
    border: 2px solid #fff;
    background: #fff;
  }
  .wrapper .menu .menu__item:hover::after {
    height: 0px;
    display: none;
  }
  .wrapper .menu .menu__button {
    margin: 30px auto;
    border: 4px solid #fff;
  }
  .wrapper .menu .menu__button:active {
    background: #fff;
  }
  .wrapper .menu .menu__button:active p {
    color: #000;
  }
  .wrapper .menu .menu__button p {
    color: #fff;
  }
  .wrapper .menu .header__social-links {
    display: block;
    height: 56px;
    margin-bottom: 35px;
    position: relative;
    width: 254px;
    border-radius: 20px;
  }
  .wrapper .menu .header__social-links .fab {
    margin: 16px 0 0 2px;
    display: inline-block;
    font-size: 50px;
  }
  .wrapper .menu .header__social-links .fab:hover, .wrapper .menu .header__social-links .fab:active {
    color: #fff;
  }
  .wrapper .menu.active {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: auto;
    height: 100%;
    right: 0;
    top: 0px;
    position: inherit;
  }
}

.fab {
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
}

.fa-facebook-f {
  color: #1da1f2;
}

.fa-facebook-f:hover {
  color: #c04ae2;
}

.fa-twitter {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #c04ae2;
}

.fa-youtube {
  color: #ff1e00;
}

.fa-youtube:hover {
  color: #c04ae2;
}

.fa-instagram {
  color: #dd4b39;
}

.fa-instagram:hover {
  color: #c04ae2;
}

.h-content {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 2;
}

.h-content .blur {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.h-content .blur__items {
  width: 100%;
  height: 100%;
  position: relative;
}

.h-content .blur__item:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: rgba(238, 164, 27, 0.36);
  opacity: 0.36;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(2) {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: rgba(238, 164, 27, 0.36);
  opacity: 0.36;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(3) {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -30%);
          transform: translate(50%, -30%);
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: rgba(189, 27, 238, 0.36);
  opacity: 0.36;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: inline-block;
  width: 320px;
  height: 320px;
  background-color: rgba(189, 27, 238, 0.36);
  opacity: 0.36;
  -webkit-filter: blur(70px);
          filter: blur(70px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 520px;
  height: 520px;
  background-color: rgba(27, 125, 238, 0.36);
  opacity: 0.36;
  -webkit-filter: blur(110px);
          filter: blur(110px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(6) {
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: inline-block;
  width: 320px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.36;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 620px;
  height: 620px;
  background-color: white;
  opacity: 0.36;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  border-radius: 50%;
}

.h-content .blur__item:nth-child(8) {
  position: absolute;
  bottom: 0%;
  left: 20px;
  display: inline-block;
  width: 320px;
  height: 320px;
  background-color: white;
  opacity: 0.36;
  -webkit-filter: blur(40px);
          filter: blur(40px);
  border-radius: 50%;
}

.h-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-content__body .empty1 {
  display: none;
}

.h-content__cnt {
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 200px 0 70px 15px;
}

.h-content__title {
  font-family: Overpass;
  font-size: 90px;
  line-height: 108px;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.h-content__text {
  z-index: 2;
  font-size: 30px;
  color: #5e5858;
  margin-top: 42px;
}

.h-content__text span {
  line-height: 42px;
}

.h-content__button {
  z-index: 2;
  display: block;
  max-width: 241px;
  height: 72px;
  background-color: #c04ae2;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  position: relative;
  margin-top: 60px;
}

.h-content__button span {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Overpass;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.h-content__button:hover {
  background-color: #b043ce;
}

.h-content__button:active {
  background-color: #c04ae2;
}

.h-content .container2 {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}

.h-content .layer2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
}

.h-content .layer2__empty {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.h-content .layer2__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 860px;
  margin-top: 170px;
  margin-right: 70px;
}

.h-content .layer2__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

@media (max-width: 1090px) {
  .hero {
    min-height: 0;
  }
  .h-content {
    padding-bottom: 70px;
  }
  .h-content__body {
    display: block;
    margin: 0 22px;
  }
  .h-content__body .empty1 {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 60% 0;
  }
  .h-content__body .empty1 img {
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .h-content__cnt {
    margin: 120px auto 30px;
    width: 100%;
    position: inherit;
  }
  .h-content .layer2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .h-content {
    z-index: 5;
    min-height: 0;
    max-height: 100%;
  }
  .h-content__title {
    font-size: 50px;
    line-height: 64px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  min-height: 100%;
}

.footer {
  min-height: 650px;
  width: 100%;
  position: relative;
}

.footer .container {
  min-height: 650px;
}

.footer__block {
  padding: 170px 15px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 650px;
}

.footer__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 370px) minmax(auto, 1fr) minmax(auto, 25%);
      grid-template-columns: minmax(auto, 370px) minmax(auto, 1fr) minmax(auto, 25%);
}

.footer__title {
  font-family: Overpass;
  font-size: 24px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.main-foot__logo {
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}

.main-foot__text {
  margin-top: 24px;
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #5e5858;
}

.main-foot__input {
  margin-top: 30px;
  display: block;
  position: relative;
  height: 66px;
}

.main-foot__input a {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  display: block;
  position: absolute;
  top: 20px;
  right: 10px;
}

.main-foot__input a:hover {
  color: #444;
}

.main-foot__input a:active {
  color: #333;
}

.main-foot__input input {
  height: 100%;
  background-color: #f3f9fb;
  border-radius: 7px;
  font-size: 18px;
  line-height: 24px;
  color: #999999;
  padding-left: 15px;
  padding-right: 40px;
  width: 100%;
}

.footer__title {
  margin-bottom: 34px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links__item {
  max-width: 105px;
  margin: 0 20px;
}

.links__link {
  display: inline-block;
  margin-bottom: 16px;
}

.callback .it1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callback__item {
  margin-bottom: 11px;
}

.callback__item i {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #5e5858;
  margin-right: 16px;
}

.callback__item p {
  display: inline-block;
  width: 80%;
}

.callback__item:first-child {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-bottom: -5px;
}

.links__link,
.callback__item {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  color: #5e5858;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.bottom span {
  font-family: Overpass;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #111111;
  display: inline-block;
  margin-right: 40px;
}

.bottom__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom__social-links i {
  margin-right: 12px;
}

.bottom__copy {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
}

.bottom__copy p {
  font-size: 16px;
  line-height: 30px;
  display: inline;
}

.bottom__copy span {
  display: inline-block;
  margin-right: 0px;
  font-family: Overpass;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: #222222;
}

@media (max-width: 858px) {
  .footer__block {
    padding: 40px;
  }
  .main-foot {
        grid-template-areas: "email email" "links callback";
    -ms-grid-columns: minmax(auto, 15%) 1fr 1fr minmax(auto, 15%);
        grid-template-columns: minmax(auto, 15%) 1fr 1fr minmax(auto, 15%);
    justify-items: center;
  }
  .main-foot__email {
    min-width: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: email;
    grid-column: span 5;
    margin-bottom: 30px;
  }
  .main-foot__links {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: links;
    grid-column: span 2;
  }
  .main-foot__callback {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: callback;
    grid-column: span 2;
    max-width: 200px;
  }
}

@media (max-width: 645px) {
  .bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__block {
    padding: 50px 10px;
  }
  .link__item {
    margin-left: 4px;
    margin-right: 4px;
  }
  .main-foot {
    display: block;
  }
  .main-foot .it1 {
    display: inline-block;
    position: relative;
  }
  .main-foot .it1 i {
    display: inline-block;
    position: inherit;
    left: 20px;
    top: -20px;
  }
  .main-foot__callback {
    margin: 10px 20px;
    text-align: center;
    max-width: 100%;
  }
}
