@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700;800&family=Poppins&display=swap");

body,
html {
	font-family: Roboto;
}
.container {
	max-width: 1920px;
}
._container {
	max-width: 1180px;
	margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
}
.content {
	flex: 1 0 auto;
}

.header.fix {
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.2s;
}
.header {
	transition: all 0.2s;
	z-index: 100;
	//background-color: #ebeaf9;
	height: 180px;
	width: 100%;
	position: absolute;
	top: -100%;
	&__container {
		display: grid;
		grid-template: 1fr / 130px 1fr;
		height: 100%;
	}

	&__logo {
		align-self: center;
		z-index: 1;
		margin: 6px 0 0 0;
		& a {
			display: block;
			height: 100%;
		}
		& img {
			max-width: 120px;
		}
	}
}
.burger {
	display: none;
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__links {
		display: flex;
		justify-content: flex-end;
		margin: 0 10px;
		flex: 1 0 auto;
		max-width: 100%;
	}

	&__link {
		font-family: Overpass;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #111111;
		margin: 0 12px;
		&:active {
			color: #391642;
		}
	}

	&__button {
		margin: 0 20px 0 0;
		&:active {
			color: #391642;
		}
	}

	&__socs {
		margin: 0 10px 0 0;
		.fab {
			&:active {
				color: #391642;
			}
			margin: 0 8px 0 0;
			font-size: 21px;
			font-weight: 400;
		}
		.fa-facebook-f {
			color: #1da1f2;
		}
		.fa-twitter {
			color: #3b5998;
		}
		.fa-youtube {
			color: #ff1e00;
		}
		.fa-instagram {
			color: #dd4b39;
		}
	}
}
@media (min-width: 768.8px) {
	.menu {
		&__link {
			&:hover {
				color: #c04ae2;
			}
			&:active {
				color: #391642;
			}
		}

		&__socs {
			.fab {
				&:hover {
					color: #c04ae2;
				}
				&:active {
					color: #391642;
				}
			}
		}
	}
}

.button-1 {
	display: block;
	width: 181px;
	height: 48px;
	background-color: rgba(192, 74, 226, 0);
	border: 2px solid #c04ae2;
	border-radius: 7px;
	text-align: center;
	padding: 15px 0 0 0;
	font-family: Overpass;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: -0.025em;
	color: #111111;

	&:active {
		color: #5f1b70;
	}
}
@media (min-width: 768.7px) {
	.button-1 {
		&:hover {
			color: #c04ae2;
		}
		&:active {
			color: #5f1b70;
		}
	}
}

@media (max-width: 840px) {
	.header {
		background-color: #ebeaf9;
		z-index: 100;
		height: 50px;
	}
	.header.active {
		background-color: #ebeaf9;
		top: 0;
		left: 0;
		position: fixed;
	}
	.menu {
		z-index: 99;
		transition: all 0.5s;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -200%;
		&__body {
			background-color: #c14ae296;
			display: flex;
			flex-direction: column;
			width: 320px;
			min-height: 100%;
			margin: 50px 0 0 0;
			padding: 10px 0 50px 0;
			overflow: auto;
		}

		&__links {
			display: inline-block;
			width: 90%;
			text-align: center;
		}
		&__link {
			border-radius: 10px;
			margin: 0 0 10px 0;
			overflow: hidden;
			color: #c14ae2;
			display: block;
			background-color: #fff;
			font-size: 30px;
			width: 100%;
			height: 40px;
			margin: 0 0 5px 0;
			padding: 5px 0 0 0;
		}
	}
	.menu.active {
		transition: all 0.5s;
		right: 0;
	}

	.button {
		padding: 15px 0 15px 0;
		margin: 0 0 15px 0;

		color: #c14ae2;
		display: block;
		background-color: #fff;
	}
	.menu__socs {
		margin: 0 0 15px 0;
		.fab {
			display: inline-block;
			font-size: 32px;

			color: #fff;
		}
	}

	.burger {
		z-index: 100;
		margin: 2px 0 0 0;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		background-color: #c04ae2;
		text-align: center;
		border-radius: 50%;
		span {
			transition: 0.4s;
			display: inline-block;
			width: 30px;
			height: 3px;
			background-color: #fff;
			margin: 21px 0 0 0;
		}
		&::before,
		&::after {
			transition: 0.4s;
			content: "";
			display: inline-block;
			width: 30px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			right: 7px;
		}
		&::before {
			top: 13px;
		}
		&::after {
			bottom: 13px;
		}
	}
	.burger.active {
		z-index: 100;
		background-color: #fff;
		& span {
			transition: 0.4s;
			opacity: 0;
		}
		&::before,
		&::after {
			transition: 0.4s;
			background-color: #cd33f8;
		}
		&::before {
			transform: rotate(45deg);
			top: 21px;
		}
		&::after {
			transform: rotate(-45deg);
			bottom: 21px;
		}
	}
}
@media (max-width: 550.5px) {
	body.active {
		overflow: hidden;
	}
}

.hero {
	position: relative;
	min-height: 1080px;
	padding: 260px 0 260px 0;
	background: url(../img/blur.png) center / 100% 100% no-repeat, url(../img/bg_header2.png) center,
		url(../img/bg_header.png);
	//background: url(../img/hero-bg.jpg);
	&__container2 {
		max-width: 1210px;
		display: flex;
	}

	&__content {
		flex: 0 1 47%;
		z-index: 1;
	}

	&__container {
		margin: 0 20px 0 0;
		position: absolute;
		width: 100%;
		top: 260px;
		left: 50%;

		transform: translateX(-50%);
		display: flex;
		margin: 0 auto;
	}

	&__empty {
		flex: 0 0 50%;
	}

	&__img {
		position: relative;
		flex: 0 0 50%;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}
.content-hero {
	margin: 0 0 0 20px;

	&__img {
		position: relative;
		width: 0;
		& img {
			height: 100%;
			width: 100%;
		}
	}
	&__title {
		font-family: Overpass;
		font-size: 90px;
		line-height: 108px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #111111;
		margin: 0 0 15px 0;
	}

	&__text {
		font-size: 30px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;
		margin: 0 0 50px 0;
		& span {
			line-height: 42px;
		}
	}
	&__button {
		font-size: 24px;
		font-weight: 800;
		padding: 24px 0 0 0;
		letter-spacing: -0.025em;
	}
}
.button-2 {
	display: block;
	font-family: Overpass;

	padding: 25px 10px;
	color: #ffffff;
	max-width: 241px;
	min-height: 72px;
	background-color: #c04ae2;
	box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
	border-radius: 7px;
	text-align: center;
	&:active {
		background: rgba(153, 9, 167, 1);
	}
}

@media (min-width: 768px) {
	.button-2:hover {
		background: rgb(172, 10, 187);
	}
	.button-2:active {
		background: rgba(153, 9, 167, 1);
	}
}

@media (max-width: 1150px) {
	.hero {
		&__content {
			flex: 0 1 90%;
			margin: 0 auto;
		}
		.content-hero {
			&__img {
				margin: 20px 0 0 0;
				width: 100%;
			}
		}
		&__container {
			display: none;
		}
	}
}
@media (max-width: 610px) {
	.hero {
		.content-hero {
			&__title {
				font-size: 50px;
				line-height: 60px;
			}
		}
	}
}
@media (max-width: 376px) {
	.hero {
		padding: 80px 0px 50px;
		min-height: 0;
	}
}

.block-title {
	&__less {
		font-family: Overpass;
		font-size: 24px;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #c04ae2;
		margin: 0 0 24px 0;
	}

	&__bigger {
		font-family: Overpass;
		font-size: 60px;
		text-transform: none;
		letter-spacing: -0.025em;
		line-height: 90px;
		color: #111111;
		font-weight: 800;
		& span {
			line-height: 1;
		}
	}
}
.intro {
	background: url(../img/intro-bg.png) center center / 100% auto no-repeat;
	padding: 0 20px;
	overflow: hidden;
	&__container {
		padding: 190px 15px 30px;
	}

	&__title {
		max-width: 750px;
		margin: 0 auto 125px;
		text-align: center;
	}
	&__items {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
	}

	&__item {
		min-height: 496px;
		background-color: rgba(255, 255, 255, 0);
		border-radius: 18px;
		flex: 0 0 30%;
		margin: 0 8px;
		padding: 70px 40px;
		text-align: center;
		&:nth-child(1) {
			border: 6px solid #fcd7df;
		}
		&:nth-child(2) {
			border: 6px solid #c9f3e2;
		}
		&:nth-child(3) {
			border: 6px solid #f2d5ba;
		}
	}
}

.item-intro {
	&__icon {
		width: 75px;
		height: 84px;
		margin: 0 auto;
	}

	&__title {
		font-family: Overpass;
		font-size: 30px;
		line-height: 42px;
		font-weight: 800;
		letter-spacing: -0.025em;
		margin: 30px 0 20px 0;
	}

	&__text {
		font-family: Roboto;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: normal;
		color: #5e5858;
	}
}
.item-intro-1 {
	//max-width: 370px;
	transform: translateX(-500px);
}
.item-intro-3 {
	//max-width: 370px;
	transform: translateX(+500px);
}

.slider {
	position: relative;
	padding: 0;
	margin-bottom: 30px;
	& .slick-track {
		display: flex;
	}
	.slick-slide {
		max-height: 100%;
		width: 100%;
		flex: 0 0 auto;
		//Рамка как в item +1
		&:nth-child(2) {
			border: 6px solid #fcd7df;
		}
		&:nth-child(3) {
			border: 6px solid #c9f3e2;
		}
		&:nth-child(4) {
			border: 6px solid #f2d5ba;
		}

		//opacity: 0.2;}
	}
	/*.slick-center {opacity: 1;}*/

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;

		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		& li {
			list-style: none;
			margin: 0 10px;
			&.slick-active {
				& button {
					background-color: #c04ae2;
					width: 28px;
					height: 3px;
				}
			}
		}
		& button {
			width: 25px;
			height: 2px;
			background-color: #ebeaf9;
			border-radius: 20%;
			font-size: 0px;
		}
	}
}

.slick-list {
	overflow: hidden;
}
@media (max-width: 426px) {
	.block-title {
		margin-bottom: 30px;
		&__bigger {
			font-size: 42px;
			line-height: 1.3;
		}
	}
}

.about {
	min-height: 840px;
	overflow: hidden;

	&__container {
		background: url(../img/about-items/about_item1.png) right top / 40px 40px no-repeat,
			url(../img/about-items/about_blur.png) center 0 / cover no-repeat;
		display: flex;
		padding: 175px 10px;
		height: 100%;
	}

	&__content {
		flex: 0 0 50%;
		max-width: 475px;
	}

	&__images {
		margin: 0 0 0 100px;
	}
}

.content-about {
	&__title {
		font-family: Overpass;
		font-size: 60px;
		line-height: 72px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #222222;
		margin: 0 0 8px 0;
	}

	&__text {
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;

		margin: 0 0 48px 0;
		& span {
			display: inline-block;
			font-size: 20px;
			line-height: 32px;
			font-weight: 400;
			letter-spacing: normal;
			color: #5e5858;
		}
	}

	&__button {
		//padding: 20px 0 0 0;
		margin: 0 0 40px 0;
		& span {
			font-family: Overpass;
			font-size: 18px;
			line-height: 36px;
			font-weight: 800;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}
.images-about {
	&__item {
		position: relative;
		max-width: 730px;
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	&__item2 {
		position: absolute;

		transform: translate(180px, -80px);
	}
}
@media (max-width: 1525px) {
	.about {
		&__container {
			flex-direction: column;
			height: 100%;
			justify-items: center;
		}
		&__content {
			max-width: 80%;
			display: block;
			margin: 0 auto;
		}
		&__images {
			margin: 0 auto;
		}
	}
}
@media (max-width: 768px) {
	.images-about {
		&__item2 {
			display: none;
		}
	}
	.content-about {
		&__text {
			font-size: 30px;
			& span {
				font-size: 28px;
			}
		}
	}
}
@media (max-width: 426px) {
	.content-about {
		&__title {
			font-size: 36px;
			line-height: 50px;
		}
	}
}

.services {
	min-height: 1670px;
	background: url(../img/services-images/objects_services.png) center / 1920px 100% no-repeat,
		url(../img/services-images/blur-sevises.png) center / 1920px 100% no-repeat,
		url(../img/services-images/bg_services.png) center / cover no-repeat;

	&__top {
		display: grid;
		grid-template: 1fr, repeat(2, 50%);
		justify-content: right;
		margin: 0 0 120px 0;
	}
	&__title {
		text-align: right;
		max-width: 725px;
		grid-column: 2 / 3;
	}
	.container {
	}
	&__body {
		display: grid;
		grid-template: repeat(14, 1fr) / repeat(3, 1fr);
	}

	&__item {
		max-width: 370px;
		min-height: 476px;
		background-color: #ffffff;
		box-shadow: 0px 24px 72px 0px rgba(7, 28, 75, 0.07);
		border-radius: 25px;
		padding: 70px 40px;
		text-align: center;
		margin: 0 5px 30px;
	}
}
.grid-block {
	grid-row: span 6;
	display: flex;
	flex-direction: column;
	&__icon {
		margin: 0 0 45px 0;
	}

	&__title {
		font-family: Overpass;
		font-size: 30px;
		line-height: 42px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #111111;
		margin: 0 0 30px 0;
	}

	&__text {
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;
		margin: 0 0 60px 0;
		flex: 1 0 auto;
	}

	&__button {
		& span {
			display: inline-block;
			width: 42px;
			height: 4px;
			background-color: #c04ae2;

			border-radius: 2px;
			&::before,
			&::after {
				content: "";
				display: block;
				width: 15px;
				height: 4px;
				background-color: #c04ae2;
				border-radius: 2px;
			}
			&::before {
				transform: translate(28px, -5px) rotate(45deg);
			}
			&::after {
				transform: translate(28px, 1px) rotate(-45deg);
			}
		}
	}
	&__button:active {
		& span,
		& span::before,
		& span::after {
			background-color: rgb(155, 5, 147);
		}
	}
	&:nth-child(2) {
		grid-column: 2/3;
		grid-row: 2 / span 6;
	}
	&:nth-child(3) {
		grid-column: 3/4;
		grid-row: 3 / span 6;
	}
}
@media (min-width: 768px) {
	.grid-block {
		&__button:hover {
			& span,
			& span::before,
			& span::after {
				background-color: rgb(162, 6, 177);
			}
		}
		&__button:active {
			& span,
			& span::before,
			& span::after {
				background-color: rgb(155, 5, 147);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.services {
		padding: 0 0 50px 0;
		min-height: auto;
		&__body {
			display: block;
		}
		&__item {
			max-width: 100%;
		}
	}
	.slider-2 {
		position: relative;
		padding: 0 20px;
		max-width: 100%;
		margin-bottom: 30px;

		.slick-list {
			overflow: hidden;
		}

		.slick-track {
			display: flex;
		}
		& .slick-slide {
			margin: 0 5px;

			//opacity: 0.2;
		}
		/*.slick-center {opacity: 1;}*/
	}
}

.portfolio {
	min-height: 2400px;
	background: url(../img/portfolio-images/portfolio_objects.png) center top / 1920px 100% no-repeat,
		url(../img/portfolio-images/portfolio_blur.png) 0 0 / 100% no-repeat,
		url(../img/portfolio-images/portfolio_bg.png) top center / cover no-repeat,
		linear-gradient(-40deg, #dfe9f3 1%, #ffffff 98%);
	background-color: #f2f4fb;
	&__container {
		padding: 200px 10px 200px;
	}

	&__title {
		max-width: 750px;
		margin: 0 auto 120px;
		text-align: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}
}
.link-bottom {
	display: block;
	text-align: center;
	font-family: Overpass;
	font-size: 18px;
	line-height: 36px;
	font-weight: 800;
	letter-spacing: -0.025em;
	color: #111111;
	transition: all 0.4s;

	&:active {
		color: #7c2196;
	}
	margin: 5px 0 0 0;
	& span {
		display: inline-block;
		position: relative;
		transition: all 0.4s;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: #c04ae2;
			transition: all 0.4s;
		}
	}
	& span:active {
		&::before {
			background-color: #111;
			width: 100%;
		}
	}
}
@media (min-width: 768px) {
	.link-bottom {
		transition: all 0.4s;
		&:hover {
			color: #c04ae2;
		}
		&:active {
			color: #7c2196;
		}
		& span:hover {
			&::before {
				width: 0%;
			}
		}
		& span:active {
			&::before {
				background-color: #111;
				width: 100%;
			}
		}
	}
}
.portfolio-items {
	&__item {
		display: flex;
		min-height: 480px;
	}
}
.portfolio-item {
	padding: 0 0 5% 0;
	margin: 0 0 80px 0;
	justify-content: space-between;

	&:nth-child(even) {
		flex-direction: row-reverse;
		.image-block {
			&__img {
				top: 0;
				right: 0;
			}
		}
	}
	&__image {
		flex: 0 0 50%;
	}

	&__content {
		flex: 0 0 50%;
	}
}
.image-block {
	display: flex;
	flex-direction: column;
	max-height: 420px;
	max-width: 420px;
	position: relative;

	&__img {
		flex: 1 1 auto;
		max-width: 420px;
		max-height: 420px;
		border-radius: 18px;
		position: relative;
		z-index: 2;

		& img {
			position: absolute;
			border-radius: 18px;
			object-fit: cover;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.item-content {
	&__subtitle {
		font-family: Overpass;
		font-size: 24px;
		line-height: 42px;
		font-weight: 800;
		letter-spacing: -0.025em;
	}
	&__title {
		font-family: Overpass;
		font-size: 42px;
		line-height: 54px;
		color: #111111;
		margin: 0 0 20px 0;
	}

	&__text {
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;
		margin: 0 0 30px 0;
	}
}
.subtitle1 {
	color: #fe6686;
}
.subtitle2 {
	color: #54d6a1;
}
.subtitle3 {
	color: #fe9a3f;
}

@media (max-width: 872px) {
	.portfolio-item {
		flex-direction: column;
		&:nth-child(even) {
			flex-direction: column;
		}
		&__image {
			display: flex;
			& img {
				position: static;
			}
		}
	}
}

.team {
	min-height: 1150px;
	padding: 200px 20px 120px;
	background: url(../img/team/team-styleElements.png) center 70% / 1920px 100% no-repeat,
		url(../img/team/teamBlur.png) center center / 100% 100% no-repeat;
	&__body {
	}

	&__title {
		text-align: center;
		margin: 0 auto;
		max-width: 740px;
	}
}
.members {
	padding: 150px 0 0 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	&__item {
		min-height: 415px;

		display: flex;
		flex-direction: column;
		margin: 0 10px;

		&:nth-child(even) {
			margin: 75px 0 0 0;
		}
		&:nth-child(1),
		&:nth-child(2) {
			.members__photo {
				& img {
					object-position: center;
					border-radius: 18px;
				}
			}
		}
		&:nth-child(3) {
			.members__photo {
				& img {
					object-position: -30px;
				}
			}
		}
		&:nth-child(4) {
			.members__photo {
				& img {
					object-position: left;
				}
			}
		}
		&:nth-child(2),
		&:nth-child(4) {
			img {
				transform-origin: bottom left;
				transform: perspective(550px) rotateX(10deg);
				border-radius: 18px;
			}
		}
		&:nth-child(1),
		&:nth-child(3) {
			img {
				transform-origin: bottom right;
				transform: perspective(550px) rotateX(10deg);
				border-radius: 18px;
			}
		}
	}

	&__photo {
		max-width: 250px;
		max-height: 312px;
		border-radius: 15px;
		position: relative;
		flex: 1 0 auto;
		overflow: hidden;

		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		font-family: Overpass;
		font-size: 24px;
		line-height: 48px;
		font-weight: 800;
		color: #111111;
		margin: 35px 0 0 0;
	}

	&__skills {
		font-size: 18px;
		line-height: 36px;
		font-weight: 400;
		color: #adb0ba;
	}
}
@media (max-width: 1100px) {
	.members {
		grid-template-columns: minmax(10px, 1fr) repeat(4, 1fr) minmax(10px, 1fr);
		grid-template-rows: repeat(2, 1fr);

		&__item {
			&:nth-child(1),
			&:nth-child(2) {
				grid-column: 2 / span 2;
			}
			&:nth-child(3),
			&:nth-child(4) {
				grid-column: 4 / span 2;
			}
			&:nth-child(2),
			&:nth-child(4) {
				grid-row: 2 / span 1;
			}
		}
	}
}

@media (max-width: 800px) {
	.members {
		&__item {
			&:nth-child(1),
			&:nth-child(2) {
				grid-column: 1 / span 3;
			}
			&:nth-child(3),
			&:nth-child(4) {
				grid-column: 4 / span 3;
			}
		}
	}
}
@media (max-width: 530px) {
	.members {
		display: block;

		&__item {
			display: block;
			max-width: 200px;
			margin: 0 auto;
		}
		&__photo {
			padding: 0 0 300px 0;
		}
	}
	.members__item:nth-child(even) {
		margin: 0 auto;
	}
}

.testimotionals {
	background: url(../img/testimotionals/testimotionals_style_elememts.png) center center / 1920px 100% no-repeat,
		url(../img/testimotionals/bg.png) center top / cover, linear-gradient(0deg, #eef1f7 0%, #f9fcff 25%);
	min-height: 900px;
	//opacity: 0.45;
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 50%);
		position: relative;
		padding: 0px 0 120px;
	}

	&__items {
		margin: 245px 0 0 0;
		&::before {
			content: "";
			display: block;
			width: 80px;
			height: 64px;
			background: url(../img/testimotionals/before.png);
			position: absolute;
			transform: translateX(-120%);
		}
	}

	&__image {
		margin: 50px 20px 0 0px;
		position: relative;
		align-self: end;
		justify-self: end;
		display: block;
		//padding: 0 20px 0 80px;
		max-width: 470px;
		height: 604px;
		overflow: hidden;
		flex: 0 0 50%;
		transform-origin: right bottom;
		transform: perspective(400px) rotateY(-7deg);
		border-radius: 21px;
		& img {
			border-radius: 21px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			transform-origin: right bottom;
			transform: perspective(400px) rotateY(7deg);
		}
	}
}
.slider-3 {
	position: relative;
	padding: 0 15px;
	max-width: 100%;
	//margin-bottom: 30px;
	& .slick-track {
		display: flex;
	}
	.slick-slide {
		max-width: 100%;
		//opacity: 0.2;
	}

	& .slick-dots {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -50px;
		left: 40px;
		justify-content: left;
		margin: 50px 0 0 0;
		//list-style: none;
		& li {
			//list-style: none;
			&.slick-active {
				& button {
					width: 30px;
				}
			}
		}
		& button {
			border-radius: 10px;
			width: 12px;
			height: 12px;
			display: block;
			background-color: #c04ae2;
			margin: 0 4px;
			font-size: 0;
		}
	}
	&__item {
		max-width: 560px;
	}

	&__text {
		line-height: 36px;
		font-weight: 400;
		text-transform: none;
		letter-spacing: normal;
		color: #5e5858;
		font-size: 24px;
		margin: 40px 0;
	}

	&__author {
		margin: 0 0 0 50px;
		font-family: Overpass;
		font-size: 24px;
		line-height: 48px;
		font-weight: 800;
		color: #111111;
		&::before {
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			background-color: #333;
			transform: translate(-200%, 23px);
		}
		& span {
			font-family: Roboto;
			font-size: 18px;
			line-height: 36px;
			font-weight: 400;
			color: #adb0ba;
			margin: 0 0 0 10px;
		}
	}
}

@media (max-width: 768.8px) {
	.testimotionals {
		&__body {
			display: flex;
			flex-direction: column-reverse;
		}
		&__image {
			justify-self: center;
			align-self: center;
		}
		&__items {
			margin: 50px 0 0 0;
		}
	}
}

.contact {
	padding: 190px 25px 100px;
	min-height: 1420px;
	background: url(../img/contact/contact_style_elements.png) center center / 1920px 100% no-repeat,
		url(../img/contact/contact_blur.png) center center / 1180px 100% no-repeat;
}
.body-contact {
	&__title {
		max-width: 715px;
		text-align: center;
		margin: 0 auto 80px;
		.block-title__bigger {
			line-height: 70px;
		}
	}

	&__block {
	}
}
.block-contact {
	display: flex;
	&__form {
		flex: 1 0 50%;
	}

	&__callback {
	}
}
.input-form {
	max-width: 470px;
	height: 72px;
	background-color: #ffffff;
	box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	color: #999999;
	display: block;
	margin: 0 0 30px 0;
	padding-left: 40px;
	padding-right: 40px;
}
.form-contact {
	padding: 0 20px 0 0;
	&__title {
		font-family: Overpass;
		font-size: 42px;
		line-height: 54px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #111111;
	}

	&__name {
		margin-top: 60px;
		width: 100%;
	}

	&__email {
		width: 100%;
	}

	&__subject {
		width: 100%;
	}

	&__message {
		resize: none;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 212px;
		box-shadow: 15px 11px 48px 0px rgba(0, 0, 0, 0.05);
	}

	&__button {
		span {
			font-family: Overpass;
			font-size: 24px;
			font-weight: 800;
			letter-spacing: -0.025em;
			color: #ffffff;
		}
	}
}
.callback-contact {
	padding: 110px 0 0 100px;

	&__text {
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		color: #5e5858;
		margin-bottom: 50px;
	}

	&__item {
		margin: 0 0 20px 60px;
		position: relative;
		span {
			position: absolute;
			left: -49px;
			top: 16px;
		}
		i {
			color: #fff;
		}

		p {
			font-family: Overpass;
			font-size: 21px;
			line-height: 24px;
			font-weight: 800;
			letter-spacing: -0.025em;
			color: #111111;
		}
		a {
			font-size: 18px;
			line-height: 30px;
			font-weight: 400;
			letter-spacing: normal;
			color: #5e5858;
		}
	}
}
.phone-item {
	&::before {
		content: "";
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fe6686;
		position: absolute;
		transform: translateX(-140%);
	}
}
.email-item {
	&::before {
		content: "";
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		background-color: #54d6a1;
		position: absolute;
		transform: translateX(-140%);
	}
}
.address-item {
	&::before {
		content: "";
		display: block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fe9a3f;
		position: absolute;
		transform: translateX(-140%);
	}
}

@media (max-width: 768.8px) {
	.block-contact {
		display: block;
	}
	.callback-contact {
		padding: 0;
	}
	.input-form {
		max-width: 100%;
	}
	.form-contact__title {
		text-align: center;
	}
	.callback-contact__text {
		padding: 30px 0 0 0;
	}
}
///sadasdasdkasldlsj;lsfjlkj

.blog {
	min-height: 1020px;
	background-color: #f3f3f4;
	padding: 0 20px;
	background: url(../img/blog/elements.png) center center / 1920px 90% no-repeat,
		url(../img/blog/blur.png) 0 0 /1920px 100% no-repeat, url(../img/blog/bg.jpg) 0 0 / cover;
	&__body {
		padding: 210px 0 210px 0;
	}

	&__top {
		display: flex;
	}

	&__content {
	}
}
.top-blog {
	&__left-block {
		flex: 1 0 auto;
	}

	&__link {
	}
}
.block-title {
	&__less {
	}

	&__bigger {
	}
}
.link-blog {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 0 0 20px 0;
	&__link {
		text-align: right;
		display: inline-block;
	}
}
.content-blog {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding: 120px 0 0;
	&__item {
		max-width: 372px;
		min-height: 398px;
		border: 1px solid #b3bed1;
		border-radius: 18px;
		padding: 50px 25px;
	}
}
.blog-item {
	display: flex;
	flex-direction: column;
	&__subtitle {
		font-family: Overpass;
		font-size: 18px;
		line-height: 30px;
		font-weight: 700;
		letter-spacing: -0.025em;
	}

	&__title {
		font-family: Overpass;
		font-size: 24px;
		line-height: 36px;
		color: #111111;
		margin: 18px 0 0 0;
	}

	&__text {
		margin: 20px 0 0 0;
		font-size: 20px;
		line-height: 32px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;
		flex: 1 0 auto;
	}

	&__author {
		margin: 20px 0 0 0;
		font-family: Overpass;
		font-size: 21px;
		line-height: 30px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #111111;
		padding: 0 0 0 60px;
		position: relative;
		span {
			display: inline-block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: -10.5px;
		}
		&::after {
			content: "";
			display: inline-block;
			width: 50px;
			height: 18px;
			background: url(../img/blog/likes.png) 0 0 / 100% no-repeat;
			//margin: 0 0 0 30px;
			//align-self: end;
			//justify-self: end;
			position: absolute;
			right: 8px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}
.blog-item-1 {
	.blog-item__author {
		//position: relative;
		span {
			background: url(../img/blog/1photo.jpg) 0 0 / cover;
		}
	}
}
.blog-author {
}
.blog-item-2 {
	.blog-item__author {
		//position: relative;
		span {
			background: url(../img/blog/2photo.jpg) 0 0 / cover;
		}
	}
}
.blog-item-3 {
	.blog-item__author {
		//position: relative;
		span {
			background: url(../img/blog/3photo.jpg) 0 0 / cover;
		}
	}
}

@media (max-width: 1024px) {
	.blog__content {
		display: block;
	}
	.slider-4 {
		//display: block;
		position: relative;
		margin: 0 auto;
		max-width: 96%;
		margin-bottom: 30px;
		& .slick-track {
			display: flex;
			margin: 0 auto;
			overflow: hidden;
		}
		.slick-list {
		}
		.slick-slide {
			margin: 0 10px;
			//width: 50%;
			//opacity: 0.2;
		}
		/*.slick-center {opacity: 1;}*/
	}
	.slick-slide {
		//opacity: 0.2;
	}
	//slide active
	.slick-slide.slick-active {
		//opacity: 1;
	}
	//main slide
	.slick-slide.slick-current {
	}
	//center slide
	.slick-slide.slick-center {
	}
}
@media (max-width: 640px) {
	.top-blog {
		display: block;
	}
}
@media (max-width: 370px) {
	.blog {
		&__body {
			padding: 90px 0px;
		}
	}
	.content-blog {
		padding: 30px 0 0 0;
	}
	.blog-author {
		&::after {
			right: 10%;
			transform: translateY(120%);
		}
	}
}
