@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@700;800&family=Poppins&display=swap");

body,
html {
	font-family: Roboto;
}
.container {
	max-width: 1920px;
}
._container {
	max-width: 1180px;
	margin: 0 auto;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
}
.content {
	flex: 1 0 auto;
}

.header.fix {
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.2s;
}
.header {
	transition: all 0.2s;
	z-index: 100;
	//background-color: #ebeaf9;
	height: 180px;
	width: 100%;
	position: absolute;
	top: -100%;
	&__container {
		display: grid;
		grid-template: 1fr / 130px 1fr;
		height: 100%;
	}

	&__logo {
		align-self: center;
		z-index: 1;
		margin: 6px 0 0 0;
		& a {
			display: block;
			height: 100%;
		}
		& img {
			max-width: 120px;
		}
	}
}
.burger {
	display: none;
}

.menu {
	&__body {
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__links {
		display: flex;
		justify-content: flex-end;
		margin: 0 10px;
		flex: 1 0 auto;
		max-width: 100%;
	}

	&__link {
		font-family: Overpass;
		font-size: 20px;
		font-weight: 400;
		letter-spacing: -0.025em;
		color: #111111;
		margin: 0 12px;
		&:active {
			color: #391642;
		}
	}

	&__button {
		margin: 0 20px 0 0;
		&:active {
			color: #391642;
		}
	}

	&__socs {
		margin: 0 10px 0 0;
		.fab {
			&:active {
				color: #391642;
			}
			margin: 0 8px 0 0;
			font-size: 21px;
			font-weight: 400;
		}
		.fa-facebook-f {
			color: #1da1f2;
		}
		.fa-twitter {
			color: #3b5998;
		}
		.fa-youtube {
			color: #ff1e00;
		}
		.fa-instagram {
			color: #dd4b39;
		}
	}
}
@media (min-width: 768.8px) {
	.menu {
		&__link {
			&:hover {
				color: #c04ae2;
			}
			&:active {
				color: #391642;
			}
		}

		&__socs {
			.fab {
				&:hover {
					color: #c04ae2;
				}
				&:active {
					color: #391642;
				}
			}
		}
	}
}

.button-1 {
	display: block;
	width: 181px;
	height: 48px;
	background-color: rgba(192, 74, 226, 0);
	border: 2px solid #c04ae2;
	border-radius: 7px;
	text-align: center;
	padding: 15px 0 0 0;
	font-family: Overpass;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: -0.025em;
	color: #111111;

	&:active {
		color: #391642;
	}
}
@media (min-width: 768.7px) {
	.button-1 {
		&:hover {
			color: #c04ae2;
		}
		&:active {
			color: #391642;
		}
	}
}

@media (max-width: 840px) {
	.header {
		background-color: #ebeaf9;
		z-index: 100;
		height: 50px;
	}
	.header.active {
		background-color: #ebeaf9;
		top: 0;
		left: 0;
		position: fixed;
	}
	.menu {
		z-index: 99;
		transition: all 0.5s;
		position: fixed;
		top: 0;
		bottom: 0;
		right: -200%;
		&__body {
			background-color: #c14ae296;
			display: flex;
			flex-direction: column;
			width: 320px;
			min-height: 100%;
			margin: 50px 0 0 0;
			padding: 10px 0 50px 0;
			overflow: auto;
		}

		&__links {
			display: inline-block;
			width: 90%;
			text-align: center;
		}
		&__link {
			border-radius: 10px;
			margin: 0 0 10px 0;
			overflow: hidden;
			color: #c14ae2;
			display: block;
			background-color: #fff;
			font-size: 30px;
			width: 100%;
			height: 40px;
			margin: 0 0 5px 0;
			padding: 5px 0 0 0;
		}
	}
	.menu.active {
		transition: all 0.5s;
		right: 0;
	}

	.button {
		padding: 15px 0 15px 0;
		margin: 0 0 15px 0;

		color: #c14ae2;
		display: block;
		background-color: #fff;
	}
	.menu__socs {
		margin: 0 0 15px 0;
		.fab {
			display: inline-block;
			font-size: 32px;

			color: #fff;
		}
	}

	.burger {
		z-index: 100;
		margin: 2px 0 0 0;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 45px;
		height: 45px;
		background-color: #c04ae2;
		text-align: center;
		border-radius: 50%;
		span {
			transition: 0.4s;
			display: inline-block;
			width: 30px;
			height: 3px;
			background-color: #fff;
			margin: 21px 0 0 0;
		}
		&::before,
		&::after {
			transition: 0.4s;
			content: "";
			display: inline-block;
			width: 30px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			right: 7px;
		}
		&::before {
			top: 13px;
		}
		&::after {
			bottom: 13px;
		}
	}
	.burger.active {
		z-index: 100;
		background-color: #fff;
		& span {
			transition: 0.4s;
			opacity: 0;
		}
		&::before,
		&::after {
			transition: 0.4s;
			background-color: #cd33f8;
		}
		&::before {
			transform: rotate(45deg);
			top: 21px;
		}
		&::after {
			transform: rotate(-45deg);
			bottom: 21px;
		}
	}
}
@media (max-width: 550.5px) {
	body.active {
		overflow: hidden;
	}
}

.hero {
	position: relative;
	min-height: 1080px;
	padding: 260px 0 260px 0;
	background: url(../img/blur.png) center / 100% 100% no-repeat, url(../img/bg_header2.png) center,
		url(../img/bg_header.png);
	//background: url(../img/hero-bg.jpg);
	&__container2 {
		max-width: 1210px;
		display: flex;
	}

	&__content {
		flex: 0 1 47%;
		z-index: 1;
	}

	&__container {
		margin: 0 20px 0 0;
		position: absolute;
		width: 100%;
		top: 260px;
		left: 50%;

		transform: translateX(-50%);
		display: flex;
		margin: 0 auto;
	}

	&__empty {
		flex: 0 0 50%;
	}

	&__img {
		position: relative;
		flex: 0 0 50%;
		& img {
			width: 100%;
			height: 100%;
		}
	}
}
.content-hero {
	margin: 0 0 0 20px;

	&__img {
		position: relative;
		width: 0;
		& img {
			height: 100%;
			width: 100%;
		}
	}
	&__title {
		font-family: Overpass;
		font-size: 90px;
		line-height: 108px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #111111;
		margin: 0 0 15px 0;
	}

	&__text {
		font-size: 30px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;
		margin: 0 0 50px 0;
		& span {
			line-height: 42px;
		}
	}
	&__button {
		font-size: 24px;
		font-weight: 800;
		padding: 24px 0 0 0;
		letter-spacing: -0.025em;
	}
}
.button-2 {
	display: block;
	font-family: Overpass;
	color: #ffffff;
	max-width: 241px;
	height: 72px;
	background-color: #c04ae2;
	box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.07);
	border-radius: 7px;
	text-align: center;
	&:active {
		background: rgba(153, 9, 167, 1);
	}
}

@media (min-width: 768px) {
	.button-2:hover {
		background: rgb(172, 10, 187);
	}
	.button-2:active {
		background: rgba(153, 9, 167, 1);
	}
}

@media (max-width: 1150px) {
	.hero {
		&__content {
			flex: 0 1 90%;
			margin: 0 auto;
		}
		.content-hero {
			&__img {
				margin: 20px 0 0 0;
				width: 100%;
			}
		}
		&__container {
			display: none;
		}
	}
}
@media (max-width: 610px) {
	.hero {
		.content-hero {
			&__title {
				font-size: 50px;
				line-height: 60px;
			}
		}
	}
}
@media (max-width: 376px) {
	.hero {
		padding: 80px 0px 50px;
		min-height: 0;
	}
}

.block-title {
	&__less {
		font-family: Overpass;
		font-size: 24px;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #c04ae2;
		margin: 0 0 24px 0;
	}

	&__bigger {
		font-family: Overpass;
		font-size: 60px;
		text-transform: none;
		letter-spacing: -0.025em;
		line-height: 90px;
		color: #111111;
		font-weight: 800;
		& span {
			line-height: 1;
		}
	}
}
.intro {
	background: url(../img/intro-bg.png) center center / 100% auto no-repeat;
	padding: 0 20px;
	&__container {
		padding: 190px 15px 30px;
	}

	&__title {
		max-width: 750px;
		margin: 0 auto 125px;
		text-align: center;
	}
	&__items {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
	}

	&__item {
		min-height: 496px;
		background-color: rgba(255, 255, 255, 0);
		border-radius: 18px;
		flex: 0 0 30%;
		margin: 0 8px;
		padding: 70px 40px;
		text-align: center;
		&:nth-child(1) {
			border: 6px solid #fcd7df;
		}
		&:nth-child(2) {
			border: 6px solid #c9f3e2;
		}
		&:nth-child(3) {
			border: 6px solid #f2d5ba;
		}
	}
}

.item-intro {
	&__icon {
		width: 75px;
		height: 84px;
		margin: 0 auto;
	}

	&__title {
		font-family: Overpass;
		font-size: 30px;
		line-height: 42px;
		font-weight: 800;
		letter-spacing: -0.025em;
		margin: 30px 0 20px 0;
	}

	&__text {
		font-family: Roboto;
		font-size: 20px;
		line-height: 28px;
		letter-spacing: normal;
		color: #5e5858;
	}
}
.item-intro-1 {
	//max-width: 370px;
	transform: translateX(-500px);
}
.item-intro-3 {
	//max-width: 370px;
	transform: translateX(+500px);
}

.slider {
	position: relative;
	padding: 0;
	margin-bottom: 30px;
	& .slick-track {
		display: flex;
	}
	.slick-slide {
		max-height: 100%;
		width: 100%;
		flex: 0 0 auto;
		//Рамка как в item +1
		&:nth-child(2) {
			border: 6px solid #fcd7df;
		}
		&:nth-child(3) {
			border: 6px solid #c9f3e2;
		}
		&:nth-child(4) {
			border: 6px solid #f2d5ba;
		}

		//opacity: 0.2;}
	}
	/*.slick-center {opacity: 1;}*/

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;

		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		& li {
			list-style: none;
			margin: 0 10px;
			&.slick-active {
				& button {
					background-color: #c04ae2;
					width: 28px;
					height: 3px;
				}
			}
		}
		& button {
			font-size: 0;
			width: 25px;
			height: 2px;
			background-color: #ebeaf9;
			border-radius: 20%;
		}
	}
}

.slick-list {
	overflow: hidden;
}
@media (max-width: 426px) {
	.block-title {
		margin-bottom: 30px;
		&__bigger {
			font-size: 42px;
			line-height: 1.3;
		}
	}
}

.about {
	min-height: 840px;
	overflow: hidden;

	&__container {
		background: url(../img/about-items/about_item1.png) right top / 40px 40px no-repeat,
			url(../img/about-items/about_blur.png) center 0 / cover no-repeat;
		display: flex;
		padding: 175px 10px;
		height: 100%;
	}

	&__content {
		flex: 0 0 50%;
		max-width: 475px;
	}

	&__images {
		margin: 0 0 0 100px;
	}
}

.content-about {
	&__title {
		font-family: Overpass;
		font-size: 60px;
		line-height: 72px;
		font-weight: 800;
		letter-spacing: -0.025em;
		color: #222222;
		margin: 0 0 8px 0;
	}

	&__text {
		font-size: 24px;
		line-height: 36px;
		font-weight: 400;
		letter-spacing: normal;
		color: #5e5858;

		margin: 0 0 48px 0;
		& span {
			display: inline-block;
			font-size: 20px;
			line-height: 32px;
			font-weight: 400;
			letter-spacing: normal;
			color: #5e5858;
		}
	}

	&__button {
		padding: 20px 0 0 0;
		margin: 0 0 40px 0;
		& span {
			font-family: Overpass;
			font-size: 18px;
			line-height: 36px;
			font-weight: 800;
			text-transform: uppercase;
			color: #ffffff;
		}
	}
}
.images-about {
	&__item {
		position: relative;
		max-width: 730px;
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	&__item2 {
		position: absolute;

		transform: translate(180px, -80px);
	}
}
@media (max-width: 1525px) {
	.about {
		&__container {
			flex-direction: column;
			height: 100%;
			justify-items: center;
		}
		&__content {
			max-width: 80%;
			display: block;
			margin: 0 auto;
		}
		&__images {
			margin: 0 auto;
		}
	}
}
@media (max-width: 768px) {
	.images-about {
		&__item2 {
			display: none;
		}
	}
	.content-about {
		&__text {
			font-size: 30px;
			& span {
				font-size: 28px;
			}
		}
	}
}
@media (max-width: 426px) {
	.content-about {
		&__title {
			font-size: 36px;
			line-height: 50px;
		}
	}
}
